* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000B19;
    --white-text: #d0d0d0;
    --dark-text: #6b6b6b;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}

.container {
    padding: 0 3rem;
    max-width: 120rem;
    margin: 0 auto;
}

.text {
    font-size: 1.4rem;
    line-height: 1.7;
}

.text--dark {
    color: var(--dark-text)
}

.text--white {
    color: var(--white-text);
}

.title {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--primary-color);
    line-height: 1.7;
}

.tag {
    color: #aaaaaa;
    margin-top: 3rem;
    display: block;
    text-transform: uppercase;
}

.lg-only {
    display: none;
}

@media (min-width: 900px) {
    .tag {
        margin-top: 0;
    }

    .title {
        font-size: 4rem;
    }
}

@media (min-width: 1040px) {
    .lg-only {
        display: initial;
    }
}